doctype html

html(ng-app="news-tos")
    head
        title Newspaper Terms of Service
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js")
        script(src="/public/app.js")
    body
        div(ng-view)